body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.top_container {
    background-color: #C6DCE4;
}

.pro {
    text-decoration: underline;
}

.bottom_cloud {
    position: absolute;
    left: 400px;
}

.top_cloud {
    position: absolute;
    right: 400px;
}